In [1]:
def my_function():
  print("Hello from a function")

In [4]:
def my_function():
  print("Hello from a function")


my_function()

Hello from a function

In [6]:
def my_func(fname):
  print(fname + " Refsnes")

my_func("Emil")
my_func("Tobias")
my_func("Linus")
my_func("Ayan")

Emil Refsnes
Tobias Refsnes
Linus Refsnes
Ayan Refsnes

In [7]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")
my_function("khushboo", "saleem")

Emil Refsnes
khushboo saleem

In [2]:
def my_function(child3, child2, child1):
  print("The youngest teacher is " + child3)

my_function(child1 = "Huma", child2 = "Ayaan", child3 = "khushboo")

The youngest teacher is khushboo

In [9]:
def my_function(child3, child2, child1):
  print("The youngest teacher is " + child3)

my_function(child1 = "Huma", child3 = "khushboo")

TypeError: ignored

In [13]:
def add_func(a,b):
  print(a+b)

In [15]:
add_func(11,6)

17

In [17]:
name = "Ayaan"
name

'Ayaan'

In [18]:
def sub_funct(a,b):
  print(a-b)


sub_funct(6-5)

TypeError: ignored

In [19]:
def sub_funct(a,b):
  print(a-b)


sub_funct(6,5)

1

In [20]:
def sub_funct(a,b,c):
  print(a-b+c)


sub_funct(6,5,5)

6

In [22]:
def sub_funct(a,b,c):
  print(a-b+c)  # 5-6+5


sub_funct(a = 5, b= 6, c = 5)

4

In [24]:
def sub_funct(a,b,c):
  print(a-b+c)  # 10-6+5      (a+b)/c+d


sub_funct(c = 5, b= 6, a = 10)

9

In [ ]:
# Mult
# divide
# ()/* (a+b)/c-d

In [27]:
def my_function(**kid):
  print("His last name is " + kid["lname"] +" " +kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes Tobias

In [30]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [32]:
def my_function(food):
  for x in food:
    print(x)

# fruits = ["apple", "banana", "cherry"]
food = ["biryani", "pasta", "chicken"]

my_function(food)

biryani
pasta
chicken

In [39]:
def my_function(x):
  return 5 * x    # 5*3 = 15, # 5*5 =25, # 5*9 = 45


print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [40]:
def my_function(x):
  return 10 + x    # 10+3 = 13, # 10+5 =15, # 10+9 = 19


print(my_function(3))
print(my_function(5))
print(my_function(9))

13
15
19

In [33]:
def add(a,b):
  return a+b

In [34]:
add(5,6)

11

In [36]:
def mult(a,b):
  return a*b

In [37]:
mult(2,3)

6